* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit !important;
}

h1 {
  font-weight: 600;
}

figure, p {
  margin: 0 !important;
}

header {
  background-color: #29333dff;
  color: white;
  height: 80px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.logo {
  height: 45px;
}

main p {
  padding: 5px 30px;
}

#portfolio-carousel .carousel-item {
  display: flex;
  justify-content: center;
  }

#portfolio-carousel .carousel-item img {
  height: 250px;
  object-fit:scale-down;
  width: 100%;
}

#portfolio-carousel .card {
  border: 0;
  padding: 0;
}

#portfolio-carousel .card-body {
  padding: 0;
}

#portfolio-carousel .card-text {
  padding-top: 30px;
}

#portfolio-carousel .carousel-indicators {
  position: absolute;
  top: 250px;
}


footer {
  background-color: #29333dff;
  color: white;
  padding: 10px 0;
  font-size: 16px;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

footer p {
  font-size: 10px;
}

.fa-brands {
  font-size: 24px;
}